In [ ]:
# 0. Найдите вашего любимого актера, режиссера, фильм и жанр.
# Том Кукуруз - Tom Cruise, Кристофер Нолан - Christopher Nolan,
# Парк Юрского Периода - Jurrasic Park, комедии - Comedy
# В вопросах у которых стоит значок ❤︎ нужно дополнительно использовать вашего любимого актера, фильм и т.п.

In [6]:
import pandas as pd
import numpy as np
from google.colab import files
uploaded = files.upload()

Saving tmdb-movies.csv to tmdb-movies (1).csv

In [ ]:
# ❤︎ Фильм - Minions
# ❤︎ Актер - Tom Hardy
# ❤︎ Режиссер - Quentin Tarantino
# ❤︎ Жанр - Thriller

In [8]:
import pandas as pd
import numpy as np
import io
df = pd.read_csv(io.BytesIO(uploaded['tmdb-movies.csv']))

In [ ]:
# 1. Какой фильм имеет больше всего оценок? (❤︎)

In [24]:
df.loc[df['vote_count'].argmax(), 'original_title']

'Inception'

In [37]:
df.loc[df['original_title']=='Minions', ['vote_count']]

   vote_count
8        2893

In [ ]:
# 2. Какой фильм, а также какого жанра и года выпуска, имеет самые высокие оценки? (❤︎)

In [45]:
df.loc[df['vote_average'].idxmax(), 'original_title']

'The Story of Film: An Odyssey'

In [46]:
df.loc[df['vote_average'].idxmax(), 'release_year']

2011

In [48]:
df.loc[df['vote_average'].idxmax(), 'genres']

'Documentary'

In [50]:
df.loc[df['original_title']== 'Minions', ['release_year']]

   release_year
8          2015

In [51]:
df.loc[df['original_title']== 'Minions', ['genres']]

                              genres
8  Family|Animation|Adventure|Comedy

In [53]:
df.loc[df['original_title']== 'Minions', ['vote_average']]

   vote_average
8           6.5

In [ ]:
# 3. Какой фильм самый короткий/длинный по продолжительности? (❤︎)

In [25]:
df.loc[df['runtime'].argmax(), 'original_title']

'The Story of Film: An Odyssey'

In [27]:
df.loc[df['runtime'].argmin(), 'original_title']

'Mythica: The Necromancer'

In [36]:
df.loc[df['original_title']=='Minions',['runtime']]

   runtime
8       91

In [ ]:
# 4. Сколько всего киностудий (product_companies)?

In [ ]:
# 5. Какое количество фильмов сняла каждая из киностудий?

In [ ]:
# 6. Сколько фильмов было снято одной киностудией, двумя, тремя и т.д.?

In [ ]:
# 7. Какая средняя оценка у фильмов с вашим любимым актером?

In [ ]:
# 7.1. Найдите актера, который снимался чаще всего и ответьте на вопрос в каких жанрах? (❤︎)

In [ ]:
# 8. Сборы какой кинокомпании самые высокие за последние 5 лет (с 2010 по 2015)?

In [ ]:
# 9. Топ-10 режиссеров и актеров с самым высоким в среднем рейтингом фильмов?

In [ ]:
# 10. Фильмы в каком жанре в среднем имеют самые высокие оценки? (❤︎)

In [58]:
df.loc[df['vote_average'].idxmax, 'genres']

'Documentary'

In [ ]:
# 11. Топ-10 ключевых слов (keywords)?

In [ ]:
# 12. Растет ли бюджет фильмов с каждым годом? (постройте график)

In [ ]:
# 13. Что больше всего влияет на доходы фильмов?

In [ ]:
# 14. Топ-5 самых прибильных и убыточных фильмов (по соотношению бюджета к доходам)

In [ ]:
# 15. Как изменялось количество снимаемых фильмов в жанре "Drama" с течением времени? (Постройте график) ❤︎

In [ ]:
# 16. Топ-10 актеров, которые снялись в наибольшем количестве фильмов

In [ ]:
# 17. Средний рейтинг фильмов по годам (постройте график)

In [ ]:
# 18. Постройте график распределения жанров (столько-то процентов это боевики, столько-то комедии и т.п.)

In [4]:
import pandas as pd
import pathlib
pd.DataFrame({
    "action":100
}).plot(kind="pie")

ValueError: ignored

In [ ]:
# 19. Какой режиссер чаще всего снимал одного и того же актера?

In [ ]:
# 20. Какая пара жанров чаще всего встречается вместе?

In [ ]:
# 21. Топ-10 ключевых слов с самым высоким рейтингом/бюджетом/доходами фильмов (слово - срейдний рейтинг/бюджет/доходы)

In [ ]:
# 22. Постройте и визуализируйте граф связей между актерами (как это было в работе АПИ ВК).